*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
header{
    width: 100%;
    height:auto;
    /* background:#05353e; */
    background-image: linear-gradient(#05353e,rgba(1, 8, 2, 0.7));
    display:flex !important;
    justify-content: space-around;
    position: fixed;
    padding:20px;
    z-index:99;
   
}

#ham-menu{
    display:none;
    list-style-type: none;
    position: absolute;
    top:10vh;
    left:0;
    width: 100%;
    background: #05353e;
    text-align: center;
    transition: all 0.5s;
}
#ham-menu li a {
     color:#fff;
     text-decoration: none;
     cursor: pointer;
}
#ham-menu  li{
    border-bottom: 0.5px solid;
    padding:3px;
}
#ham-menu li a:hover{
    opacity:0.1;
    transform: scale(1.2);
}

.menu-active{
    display:inline-block !important;
    transform: scale(1.2) !important;
}
.ham-menu-icon{
    display:none;
    background-image:url(img/menup.svg);
    width: 25px;
    background-size: 100% 100%;
    
}
.logo{
    text-transform: uppercase;
    color:#fff;
    text-align: left;
    font-family: serif;
    
}
#logo {
    width: 150px;
    height: 40px;
    position: relative;
    background: #f7c739;
  }
  #logo h2:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #05353e;
    border-top: 20px solid #f7c739;
    border-bottom: 20px solid #f7c739;
    background: none;
  }
  #logo h2:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #f7c739;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    background: none;
  }
  #logo h2{
      margin:0 !important;
      font-family:serif;
      padding:0;

  }


.menu{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    margin-bottom:0 !important;

}
.menu li{
    list-style-type:none;
    font-family:sans-serif;
    display:inline-flex;
    border-radius: 10px;
    padding:0 5px;
    margin:auto 3px;


}
.menu li a{
    text-decoration: none;
    color:#fff;
    /* text-transform: uppercase; */
    display:inline-flex;
    border-radius: 10px;
    font-size: 15px !important;
    padding:10px;

}
.menu li a:hover{
    background:hsl(0, 0%, 10%);
    color:#fff;
   
    
}

.menu li:hover{
    background:hsl(0, 0%, 10%);
   
    
}

.menu li:hover .sub-menu{
  display:block;
}
.sub{
    position: relative;
}
.sub i{
    margin-left:5px;
    font-size: 10px;
    display: flex;
    align-items: center;
}
.sub a:hover ul{
    display: block !important;
}
.sub-menu{
    list-style-type: none;
    position: absolute;
    top:7vh;
    display:none;
    font-size:10px;
    border-radius: 10px;
    right:1px;
 
}
.sub-menu  li{
    float: left;
    width:100%;
    height:auto;
    background:hsl(0, 0%, 10%)!important;
    border-radius: 0 !important;

}
.sub-menu li a{
    padding:3px !important;
}
.sub-menu li:hover{
    opacity: 0.8;
}
.content{
    text-align: center;
    background-image:url("img/cloud.jpg");
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
    font-size:50px;
    font-family:Arial, Helvetica, sans-serif;
    animation:animate 3s linear infinite;
    font-weight:900;
    position: relative;
    -webkit-text-stroke:1px #000;
    font-family: century gothic;
    text-transform:uppercase;
    padding: 20px 0;
    
}
@keyframes animate{
    0%{ background-position:0 0;}
    100%{background-position: 100% 0;}
}

.carousel-container{
    width:100%;
    height:100%;
    position: relative;
    z-index:-1;
    background-image: linear-gradient(rgba(22, 136, 102, 0.5),rgba(155, 228, 159, 0.7)),url(img/man.jpg);
    /* background-image:linear-gradient(rgba(0,0,0,0.3),rgba()) */
    background-size:100% 100%;

    margin:0 !important;
    
 
   }
   .carousel-container .container{
       height:auto !important;
       margin:200px auto;
   }

   .col{
       height:35%;
   }
  .mytext{
     
      color:#fff;
      font-family:serif;
      font-size:18px;
     padding:20px;
     font-family: arial !important;

  }
  .mytext p{
      text-align: left !important;
  }
  .mybtn{
      background:#f7c739;
      color:#000 !important;
      font-size:20px;
      text-transform: uppercase;
      font-weight:900 !important;
      transition:0.5s;
      font-family:cursive;

  }
  .mybtn:hover{
      transform:scale(1.2);
  }

  .mycarousel{
      border:solid 5px #fff;
      background-image:url(img/airplane1.jpg) ;
      width:100%;
      height:30vh;
      background-size:100% 100%;
      border-radius: 10px;
      animation:slider 20s infinite linear;

  }
  .search-fixed{
      position:fixed;
      right:0;
      bottom:0;
    background: #f7c739;
    border: none;
    padding: 20px;
    color: #000;
    border-radius: 10px;
    z-index:100000000000;
    font-family: cursive;
    font-weight: 900;
  }
  #search{
     display:none;
     width:200px;
}
.card-body input,textarea{
    width:100%;
    padding:10px;
    margin:5px auto;
   
    
}
.card-body button{
    width:100%;
    background:#05353e;
    color:#f7c739;
    border:none;
}
.card-body textarea{
    clear:both;
}
.search-active{
    display:block !important;}
   @keyframes slider{
      
    0%{
        background-image: url("img/two.jpg");
    }
    50%{
        background-image: url("img/brown.jpg");
    }
  
    100%{
        background-image: url("img/drone.jpg");
    }
   }
    
    body{
        background:#eee;
    }
    .container{
        position: relative;
        z-index: -10;
        height: auto !important;
    }
    
    
   
  
    .btn i{
        margin-right:10px;
    }
    .btn i:hover{
        color:#fff !important;
    }
    




    h2{
        text-align:center;
        padding: 20px;
      }
      




.container{
    width: 1140px;
    height:300px !important;
}











.x{
    padding: 40px;
    text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,600,700);
.snip1527 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  margin: 10px;
  max-width: 310px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
    display: inline-block;
  
}

.snip1527 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1527 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.snip1527 figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.snip1527 figcaption:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #700877;
  content: '';
  background: -moz-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: -webkit-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  opacity: 0.8;
  z-index: -1;
}

.snip1527 .date {
  background-color: #fff;
  border-radius: 50%;
  color: #700877;
  font-size: 18px;
  font-weight: 700;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: -25px;
}

.snip1527 .date span {
  display: block;
  line-height: 14px;
}

.snip1527 .date .month {
  font-size: 11px;
}

.snip1527 h3,
.snip1527 p {
  margin: 0;
  padding: 0;
}

.snip1527 h3 {
  display: inline-block;
  font-weight: 700;
  letter-spacing: -0.4px;
  margin-bottom: 5px;
}

.snip1527 p {
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 0px;
}

.snip1527 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.snip1527:hover img,
.snip1527.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}




















@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
.snip1369 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  background: #20638f;
  text-align: left;
  color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
 display: inline-block;
  
    
}
.snip1369 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}


.bg{
    background-color: #f2f2f2;
    text-align:center;
}
.snip1369 > img,
.snip1369 .image img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  max-width: 100%;
}
.snip1369 > img {
  vertical-align: top;
  position: relative;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  opacity: 0.6;
}
.snip1369 figcaption,
.snip1369 .image {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.snip1369 .image {
  position: absolute;
  top: 0;
  bottom: 25%;
  right: 0;
  left: 0;
  overflow: hidden;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 1px 0 rgba(255, 255, 255, 0.2);
}
.snip1369 .image img {
  position: absolute;
  top: 0;
}
.snip1369 figcaption {
  position: absolute;
  top: 75%;
  bottom: 46px;
  left: 20px;
  right: 20px;
  border-bottom: 2px solid #ffffff;
  padding-top: 20px;
  z-index: 1;
}
.snip1369 h3,
.snip1369 p {
  margin: 0;
}
.snip1369 h3 {
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.snip1369 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  font-weight: 400;
  opacity: 0;
}
.snip1369 .read-more {
  display: block;
  opacity: 0;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 20px;
  color: #ffffff;
  right: 0;
  bottom: 0;
  font-weight: 500;
  position: absolute;
}
.snip1369 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
.snip1369:hover .read-more,
.snip1369.hover .read-more,
.snip1369:hover figcaption,
.snip1369.hover figcaption {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.snip1369:hover figcaption,
.snip1369.hover figcaption,
.snip1369:hover .image,
.snip1369.hover .image {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1369:hover figcaption,
.snip1369.hover figcaption {
  top: 50%;
}
.snip1369:hover .image,
.snip1369.hover .image {
  bottom: 50%;
}
.snip1369:hover p,
.snip1369.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}



















h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
  color: #fff;
  overflow: hidden;
}
.tbl-header{
 
  padding:10px;
  margin:5px auto;
  background:#05353e;
 }
.tbl-content{
  height:200px;
  overflow-x:auto;
  margin-top: 0px;
  background:#05353e;
  padding:10px;
  margin:5px auto;
}



th, td {
  margin: .5em 1em;}
 
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 5px !important;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  border-bottom: solid 2px #2B6654;
}


/* demo styles */
.bg1{
     background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
    height: 450px;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

section{
  margin: 50px;
}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}



thead
{
  padding:15px;
  background:#05353e;

}
thead th img{
  width:20px;
  margin-left:5px;
}
tbody{
  background-image: linear-gradient(#05353e,rgba(1, 8, 2, 0.7));
}



























@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

main {

  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.card{
  width:30%;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.14);
  -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.14);
  box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.14);
  margin: auto;
  text-align: left;
  cursor: pointer;
  position: relative;
  height: 360px;
  display: inline-block;
  transform: scale(.9);
  transition: all .3s;
}

.card:hover{
  transform: scale(.95);
}

.card-top {
  width: 100%;
  height: 270px;
  background-color: #f1f1f1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-top > img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100%;
}
.card-mid {
  padding: 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background-color: white;
  border-bottom-left-radius: 10px;
  overflow:hidden;
  border-bottom-right-radius: 10px;
  transition: all .3s;
}
.card-mid h4{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}
.card-mid label{
  margin: 0;
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: grey;
    height: 200px;
}
.card-image{
  transition: all .3s;
}
.card:hover .card-image {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.card-desc {
  transition: all .3s .2s;
  border-left: 0px solid #b4deac;
}
.card:hover .card-desc {
  border-left: 2px solid #b4deac;
  padding-left: 8px;
}
.card-blur-zone {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 15px;
  background-color: rgba(255, 255, 255, .8);

}




















h2{
  text-align:center;
  padding: 20px;
}
/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}




















@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');




.clear-fix{
  clear: both;
}

.testimonial{
  width:100%;
  height: auto;
  /* margin: 90px auto; */
}

.testimonial .item{
  /* width: 320px; */
  margin: 0 30px;
  float: left;
  background: #6ddfc0;
  border-radius: 25px;
  box-shadow: 0 0 5px rgba(0,0,0,0.125);
  position: relative;
  left:5%;
}

.testimonial .item .img{
  padding: 20px;
}


.pppp{
    font-size: 20px;
}

.testimonial .item .img img{
  width: 100px;
  display: block;
  margin: 0 auto;
}

.testimonial .item .name{
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.testimonial .item .content{
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
 
  text-align: center;
}

.testimonial .item .content h1{
  margin-bottom: 10px;
  color: #6ddfc0;
}

.testimonial .item .content p{

  margin-bottom: 15px;
}

.testimonial .item .content .stars img{
  width: 25px;
}

footer{
 height:auto;
}


.footer-header{
  width:100%;
  height:100% !important;
background-image:linear-gradient(rgba(22, 136, 102, 0.5),rgba(1, 8, 2, 0.7)),url("img/business.jpg");
background-size:cover;
background-attachment: fixed;
  

}
.footer-body{
  width:100%;
 background: #2B6654;
  height:auto;
 

  }
  .box1
{
  display:flex;
  flex-direction: column;
}

.main{
  display:flex;
  margin:auto 30px;
  height:auto;
  padding:30px;
  margin:auto;
}
.footer-body-box img{
  width:45px;
}

.footer-body-box {
    width: 35%;
    margin: auto;
    height: 100%;
    font-size:20px;
   

}
.footer-body-box a{
  text-decoration: none;
  color:#fff;
  text-align: left;
 float:left;
 font-family: century gothic;
}
.footer-body-box a:hover{
  text-decoration: none;
}
.footer-body-box .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}





























@media only screen and (min-width:768px) and (max-width:1024px) {
 

  .card{
    width:100%;
  }
  .snip1527{
    max-width:695px;
  }
  .snip1527 figcaption{
    padding: 35px 38px 27px;
    font-size: 32px;
  }
  .snip1369{
    max-width:695px;
  }
  .snip1369 figcaption{
    font-size:32px;
  }
  .row{
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .testimonial .item{
    margin:0;
    left:0;
  }
  .sign{
    position: absolute;
    top:100%;
  }
  .sign1{
    position: absolute;
    left:32%;
  }
  .menu li {
    margin:0;
  }
  .col-xs-12{
    height:35%;
  }
  .mytext{
    text-align: center;
    font-size:30px;
  }
  .mytext p{
    text-align: center !important;
  }
  .mybtn{
    padding:24px !important;
    font-size:24px !important;
  }
  .menu li a{
    font-size:16px !important;
  }
  .wrapper{
    margin:auto 40px;
  }
}



@media only screen and (max-width:576px){
  header{
    width:100%;
  }
.card{
  width:100%;
}
h1{
  font-size:24px !important;
}
.menu{
  display: none;
}
.ham-menu-icon{
  display: block;
}
.carousel-container{
  width:100%;
}
.container{
  width:100%;
}
.bg1 section{
  margin:5px;
}
.tbl-header th{
  font-size:13px;
}
.col-xs-12{
  height:35%;
}
.mytext{
  text-align: center;
}
.mytext p{
  text-align: center !important;
}
.mybtn{
  padding:15px !important;
  font-size:15px !important;
}
.menu li a{
  font-size:16px !important;
}
}